@use "./mixins.scss" as mixin;
@use "./variables.scss" as v;
* {
  scroll-behavior: sm;
}
*::-webkit-scrollbar{
background-color: v.$color-2;
}
*::-webkit-scrollbar-thumb{
  background-color: v.$color-1;
  border-radius: 10px
}
header {
  position: absolute;
  width: 100%;
  z-index: 3;
  nav {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 0px 20px;
    opacity:0;
    transition: transform 1s ease-in ;
    transition: opacity 1s ease-in;

    
    .nav-title {
      padding: 0px 80px;

      h1 {
        margin: 0px;
        font-size: 40px;
      }
    }

    .nav-options {
      width: 50%;
      display: flex;
      justify-content: center;
      ul {
        display: flex;
        margin: 0px 350px 0px 0px;
        list-style: none;
      

        li {
          padding: 0px 80px;
          display: flex;
          margin: auto;
          font-size: 20px;
          justify-content: center;
        }
      }
    
    }
  }
  hr {
    width: 0%;
    top: 100px;
    left: 15%;
    border-radius: 10px;
    transition: width 0.45s ease-in-out;
  }
  hr.open{
    width: 70%;
  }
}
nav.open{
  opacity: 1;
}
main {
  width: 100%;
  height: 100%;
  background-color: v.$color-2;
  .home-content {
    width: 100%;
    height: 805px;
    display: flex;
    flex-direction: row;
    position: relative;
    &-containor1 {
      background-color: v.$color-1;
      height: 100%;
      width: 65%;
      position: relative;

      &-1 {
        margin: 25% auto auto 8vw;
        padding: 20px;

        h2 {
          font-size: 43px;
        }
        p {
          font-size: 20px;
          margin: 60px auto;
        }
        a {
          text-decoration: none;
          font-size: 25px;
          background-color: v.$unique-color;
          position: relative;
          padding-right: 30px;
        }
      }

      &-2 {
        height: 20%;
        background-color: v.$color-3;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
      &-team {
        position: absolute;
        width: 80%;
        background-color: rgba(255, 68, 0, 0);
        height: 30%;
        bottom: 20px;
        display: flex;
        flex-direction: row;
        right: 15px;
        p {
          color: v.$color-2;
          position: absolute;
          right: 20%;
          top: 60%;
          z-index: 2;
          font-size: 40px;
          word-spacing: 12px;
          text-shadow: 3px 1px 1px rgb(0, 0, 0);
        }
        img {
          @include mixin.team-image;
        }
      }
    }
    &-containor2 {
      background-color: v.$color-2;
      width: 35%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding-top: 40px;

      img {
        @include mixin.solo-image;
      }
    }
  }

  .skill {
    height: auto;
    width: 100%;
    margin: auto;
    //margin: 25vh auto auto 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h3 {
      padding: 30px;
      width: auto;
    }
    &-cards {
      margin: 20px auto;
      padding: 30px;
      width: 75%;
      background-color: v.$color-1;
      border-radius: 10px;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: auto auto auto auto;
      gap: 20px;
      row-gap: 80px;

      .skill-card {
        width: 70%;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        img {
          width: 95%;
        }
      }
    }
  }
}
